<template>
    <div>
        <ul class="sidebar navbar-nav" style="margin-left: -15px;">
            <li class="nav-item">
                <a class="nav-link" href="index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li v-if="!authenticated" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown1" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <h6 class="dropdown-header">Login Screens:</h6>
                    <router-link to="login" class="dropdown-item">Login</router-link>
                    <router-link to="register" class="dropdown-item">Register</router-link>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-fw fa-table"></i> <span>Tables</span>
                </a>

                <div class="dropdown-menu" aria-labelledby="pagesDropdown">
                    <h6 class="dropdown-header">Tables</h6>
                    <router-link to="users" class="dropdown-item" v-if="authenticated && user.role">Users</router-link>
                </div>
            </li>
        </ul>
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             style="display: none;" aria-hidden="true">

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <form action="" method="POST" class="" @submit.prevent="logout">
                            <input type="hidden" name="_token" value="hrs3sbXHubk7pNfq3MF9p8BAa3aEguPQogf9F5ov">
                            <button class="btn btn-primary" type="submit" >Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import login from './login/LoginComponent';
    import register from './register/RegisterComponent';
    import users from './users/Users';
    export default {
        components: {login, register, users},
        data() {
            return {
                authenticated: false,
                user: auth.user
            }
        },
        created() {
            Event.$on('userIsLoged', event => {
                this.authenticated = auth.check();
                this.user = auth.user;
                if(!this.authenticated) {
                    this.$router.push('/login');
                }
            });
          /*  this.authenticated = auth.check();*/
        },
        methods: {
            logout() {
                auth.logout();
                this.$router.push('/login');
                $('#logoutModal').modal('hide');
            }
        },
        mounted() {

        }

    }
</script>
