<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Login</div>

                    <div class="card-body">
                        <form method="POST" @submit.prevent="login">     <!--autocomplete="off"-->
                            <input type="hidden" name="_token" value="hrs3sbXHubk7pNfq3MF9p8BAa3aEguPQogf9F5ov">
                            <div class="form-group row">
                                <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>

                                <div class="col-md-6">
                                    <input id="email" type="email" class="form-control" name="email"
                                           v-model="data.email" required="" autofocus="">
                                </div>
                            </div>

                            <div class="form-group row">
                                <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                                <div class="col-md-6">
                                    <input id="password" type="password" class="form-control" name="password"
                                           v-model="data.password" required="">

                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-6 offset-md-4">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="remember" id="remember">

                                        <label class="form-check-label" for="remember">
                                            Remember Me
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row mb-0">
                                <div class="col-md-8 offset-md-4">
                                    <button type="submit" class="btn btn-primary">
                                        Login
                                    </button>
                                    <a class="btn btn-link" href="http://admin.test/password/reset">
                                        Forgot Your Password?
                                    </a>
                                </div>
                            </div>
                        </form>
                        <div v-if="error" class="alert alert-danger mt-3">{{error}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                data: {
                    email: '',
                    password: ''
                },
                error:'',

            }
        },
        methods: {
            login() {
                // alert(6);
                var data = this.data;
                var self = this;
                axios.post('api/login', (data)).then(function (getdata) {
                        auth.login(getdata.data.token, getdata.data.user);
                        self.$router.push('/home');
                }).catch(function (error) {
                   self.error = error.response.data.message;
                })
            },

        },
        created() {
            var self =this;

                if(auth.check()) {
                    self.$router.push('/home');
                }
        }

    }
</script>

<style scoped>

</style>
