<template>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Register</div>

                <div class="card-body">
                    <form method="POST" @submit.prevent="register" ><!--autocomplete="off"-->
                        <input type="hidden" name="_token" value="kUkC0ZP4tI2f2Z9h9HhZyxRt9iuPp2LmYfSdjjBy">
                        <div class="form-group row">
                            <label for="name" class="col-md-4 col-form-label text-md-right">Name</label>

                            <div class="col-md-6">
                                <input id="name" type="text" class="form-control" name="name" v-model="user.name" required="" autofocus="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="email" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                            <div class="col-md-6">
                                <input id="email" type="email" class="form-control" name="email" v-model="user.email" required="">

                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password" class="col-md-4 col-form-label text-md-right">Password</label>

                            <div class="col-md-6">
                                <input id="password" type="password" class="form-control" name="password" v-model="user.password" required="">

                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="password-confirm" class="col-md-4 col-form-label text-md-right">Confirm Password</label>

                            <div class="col-md-6">
                                <input id="password-confirm" type="password" class="form-control" name="password_confirmation"v-model="user.password_confirmation" required="">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="select_country" class="col-md-4 col-form-label text-md-right">Country</label>

                            <div class="col-md-6">
                                <select name="country_id" id="select_country" class="form-control" v-model='user.country' >
                                    <option  v-for="country in countries" :value="country.id" :key="country.id"    >{{country.name}}</option>
                                </select>

                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <div class="col-md-6 offset-md-4">
                                <button type="submit" class="btn btn-primary">
                                    Register
                                </button>
                            </div>
                        </div>
                    </form>
                    <div class="alert alert-danger mt-4" v-if="error">{{error}}</div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return  {
                user: {
                    name:'',
                    email:'',
                    password:'',
                    password_confirmation:'',
                    country:'Armenia'
                },
                countries: [],
                error:''
            }
        },
        methods: {
            register() {
                var user =this.user;
                    var self = this;
                    if(user.password == user.password_confirmation) {
                        axios.post('api/register',user).then(function (getdata) {
                            console.log(1);
                            auth.login(getdata.data.token, getdata.data.user);
                            self.$router.push('/home');
                        }).catch((error)=> {
                            this.error = error.response.data.message
                        })
                    }
            },
            showCountries() {
                axios.get('api/countries').then((country)=> {
                    this.countries = country.data;
                })
            }
        },
        created() {
            var self = this;

                if(auth.check()) {
                    self.$router.push('/home');
                };
            this.showCountries();
        }
    }
</script>

<style scoped>

</style>
